//
//  Beta.xcconfig
//  Dayol-iOS
//
//  Created by Seonho Ban on 2021/06/14.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// app info
APP_VERSION                     = 1
GOOGLE_SERVICE_INFO_PLIST_NAME  = GoogleService-Info-beta.plist
GAD_APPLICATION_IDENTIFIER      = ca-app-pub-5111273163239664~4888672789

// bundle
BUNDLE_IDENTIFIER               = com.dayolstudio.dayol.beta
BUNDLE_DISPLAY_NAME             = DAYOL Beta

// compiler
GCC_PREPROCESSOR_DEFINITIONS    = DEBUG=1
OTHER_SWIFT_FLAGS               = -D "DEBUG" -D "BETA"
